:root {

    --font-bold: 600;
    --color-link: #222;
    --bg-primary: #e9e9e9;

}

body {
    background-color: var(--bg-primary);
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: "Inter Tight", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #eee;
}

.auth-btns {
    display: inline-flex;
    gap: 20%;
    white-space: nowrap;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: clamp(3rem, 8vw, 6rem);
    font-weight: var(--font-bold);
}

.hero {
    align-items: center;
    transform: translateY(-40%);
}

strong {
    font-weight: var(--font-bold);
}
